.wrapper {
    background: url("../../img/telefon_provod_stena_80746_1920x1080.jpg") center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1600px;
    height: 696px;
   
}
